@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

ul,
li,
a,
p {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}


.container {
    width: 1100px;
    margin: 0 auto;
}

.btn {
    padding: 10px 25px;
    border: 2px solid;
    border-radius: 24px;
    color: white;
}

body {
    margin: 0;
    padding: 0;

    header {
        // width: 100%; 
        background-color: #014E56;
        display: flex;
        // padding: 0 165px;

        .container {

            display: flex;


            nav {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                ul {
                    display: flex;
                    align-items: center;
                    gap: 40px;

                    li {
                        a {}
                    }
                }
            }
        }
    }

    main {
        .hero {
            // height: 700px;
            // background-color: #014E56;
            background: url(/img/Group\ 7.svg) no-repeat 85% 100%, #014E56;

            .container {
                padding-top: 30px;

                .hero-body {
                    height: 580px;
                    display: flex;
                    align-items: center;

                    .hero-title {
                        width: 50%;
                        font-family: 'Livvic';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 64px;
                        line-height: 100px;
                        /* or 100% */
                        // background-color: #79C8C7;
                        color: #FFFFFF;

                        span {
                            color: #F67E7E;
                        }
                    }

                    .hero-main {
                        width: 50%;

                        .find-line {
                            width: 50px;
                            height: 4px;
                            background-color: #79C8C7;


                        }

                        h3 {
                            padding-top: 70px;
                            font-family: 'Livvic';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 28px;
                            /* or 156% */


                            color: #FFFFFF;

                        }
                    }

                }
            }
        }

        .build {
            background-color: #012F34;
            display: flex;
            align-items: center;
            background: url(/img/Group\ 12\,6.svg) right bottom no-repeat #012F34, ;

            .container {
                display: flex;
                align-items: center;
                padding-top: 140px;

                .build-body {
                    width: 50%;

                    .build-line {
                        margin-bottom: 50px;
                        width: 50px;
                        height: 4px;
                        background-color: #F67E7E;
                    }

                    h2 {
                        font-family: 'Livvic';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 48px;
                        line-height: 48px;
                        /* or 100% */


                        color: #FFFFFF;

                    }

                }

                .build-main {

                    ul {
                        li {
                            display: flex;
                            margin-bottom: 32px;

                            img {
                                padding: 23px;
                            }

                            div {
                                h3 {
                                    font-family: 'Livvic';
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 18px;
                                    line-height: 28px;
                                    /* identical to box height, or 156% */


                                    color: #F67E7E;
                                }

                                h4 {
                                    font-family: 'Livvic';
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 15px;
                                    line-height: 25px;
                                    /* or 167% */


                                    color: #FFFFFF;

                                    mix-blend-mode: normal;
                                    opacity: 0.8;
                                }
                            }
                        }
                    }

                }
            }
        }

        .dileviring {
            background-color: #014E56;
            display: flex;
            background: url(/img/Group\ 8.1.svg) left top no-repeat, url(/img/Group\ 8.svg) right bottom no-repeat #014E56;


            .container {
                padding-top: 140px;
                padding-bottom: 100px;
                display: flex;
                flex-direction: column;

                // align-items: center;
                .dil_title {

                    h2 {
                        font-family: 'Livvic';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 48px;
                        line-height: 48px;
                        /* or 100% */

                        text-align: center;

                        color: #FFFFFF;

                    }

                    span {
                        color: #79C8C7;
                    }
                }

                .dil_main {
                    ul {
                        display: flex;
                        // align-items: center;
                        justify-content: space-between;

                        li {
                            width: 30%;
                            display: flex;
                            align-items: center;
                            // justify-content: center;
                            text-align: center;
                            flex-direction: column;
                            background: url(/img/“.svg) center top no-repeat;
                            padding-top: 50px;

                            p {
                                font-family: 'Livvic';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 15px;
                                line-height: 25px;
                                /* or 167% */
                                text-align: center;
                                color: #FFFFFF;

                            }

                            h3 {
                                font-family: 'Livvic';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 18px;
                                line-height: 28px;
                                /* identical to box height, or 156% */
                                text-align: center;
                                color: #79C8C7
                            }

                            i {
                                font-family: 'Livvic';
                                font-size: 13px;
                                line-height: 18px;
                                /* identical to box height, or 138% */

                                text-align: center;

                                color: #FFFFFF;
                            }
                        }
                    }
                }
            }
        }

        .ready {
            height: 200px;
            display: flex;
            align-items: center;
            background-color: #F67E7E;
            background: url(/img/Group\ 9.svg) left bottom no-repeat #F67E7E;

            .container {

                display: flex;
                align-items: center;
                justify-content:space-between;
                // gap: 116px;

                h2 {
                    font-family: 'Livvic';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 32px;
                    /* identical to box height, or 100% */


                    color: #012F34;
                }

                .btn {
                    // color: black;
                    font-family: 'Livvic';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 28px;
                    /* identical to box height, or 156% */


                    color: #012F34;

                }
            }
        }
    }
    footer{
        max-width: 1440px;
        height: auto;
        margin: 0 auto;
        background: #002529;
        padding-top: 48px;
        padding-bottom: 48px;
        .footer__main{
          display: flex;
          justify-content: space-between;
          .footer__left{
            display: flex;
            column-gap: 125px;
            align-items: center;
          }
          .footer__nav-bar{
            display: flex;
            list-style: none;
            column-gap: 40px;
            padding: 0;
            cursor: pointer;
          }
          .footer__info{
            font-weight: 600;
            font-size: 15px;
            line-height: 25px;
            opacity: .6;
          }
          .footer__icons__list{
            display: flex;
            list-style: none;
            column-gap: 16px;
            padding: 0;
            justify-content: flex-end;
          }
          .footer__copyright{
            opacity: .6;
            font-weight: 600;
            font-size: 15px;
            line-height: 25px;
            text-align: right;
            justify-content: end;
            align-self: flex-end;
          }
        }
      }
}

@media screen and (max-width:768px) {
    .container {
        width: 100%;
    }


    body {
        header {
            // width: 768px;

        }

        main {
            .hero {

                // flex-direction: column;
                .container {
                    width: 100%;

                    .hero-body {
                        text-align: center;
                        flex-direction: column;

                        .hero-main {
                            width: 100%;

                            .find-line {
                                display: none;
                            }
                        }

                        .hero-title {
                            width: 100%;
                        }
                    }
                }
            }

            .build {

                // flex-direction: column;
                background: url(/img/Group\ 12\,6.svg) right top no-repeat #012F34,
                {}

            .container {
                flex-direction: column;
                // text-align: center;
                gap: 20px;

                .build-body {
                    width: 100%;

                    h2 {}
                }
            }
        }

        .dileviring {
            .container {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .dil_main {
                    ul {
                        flex-direction: column;

                        li {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .ready{
            .container{
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
        }
    }
    footer{
        .container{
            .footer__main{
                display: flex;
                flex-wrap:wrap ;
                .footer__left{
                    width: 50%;
                }
                .footer__left__left{
                    width: 50%;
                }
                .footer__icons__right{
                    width: 100%;
                }
            }
        }
    }
}


}

@media screen and (max-width:375px) {
    .container {
        width: 100%;
    }


    body {
        header {
            // width: 768px;

        }

        main {
            .hero {

                // flex-direction: column;
                .container {
                    width: 100%;

                    .hero-body {
                        text-align: center;
                        flex-direction: column;

                        .hero-main {
                            width: 100%;

                            .find-line {
                                display: none;
                            }
                        }

                        .hero-title {
                            width: 100%;
                        }
                    }
                }
            }

            .build {

                // flex-direction: column;
                background: url(/img/Group\ 12\,6.svg) right top no-repeat #012F34,
                {}

            .container {
                flex-direction: column;
                // text-align: center;
                gap: 20px;

                .build-body {
                    width: 100%;

                    h2 {}
                }
            }
        }

    }
}
}